
:root {
    --bg-dark: #09090b;
    --bg-panel: rgba(24, 24, 27, 0.6);
    --primary: #00f3ff; /* Neon Mavi/Cyan */
    --secondary: #8b5cf6; /* Neon Mor */
    --text-main: #f4f4f5;
    --text-muted: #a1a1aa;
    --border-color: rgba(255, 255, 255, 0.1);
    --glass-blur: blur(12px);
    
    --font-ui: 'Inter', sans-serif;
    --font-code: 'JetBrains Mono', monospace;
}
